.chat-group-form
  %h1 チャットグループ編集
  = form_for(@group) do |f|
    .chat-group-form__errors
      - if @group.errors.any?
        %h2
          = @group.errors.count
            件のエラーが発生しました。
              -@group.errors.full_messages.each do |message|
                %ul
                  %li
                    = message
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        =f.label :グループ名
      .chat-group-form__field--right
          = f.text_field class: 'chat-group-form__input' , name: 'chat_group[name]' , placeholder: 'グループ名を入力してください', type: 'text'
    .chat-group-form__field.clearfix
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
      /
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :チャットメンバー
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.collection_check_boxes :group, :user_ids, User.all, :id, :name
          = f.submit 'SEND', class: 'chat-group-form__action-btn'

