.chat
  .chat__space
    .chat__space__side
      .chat__space__side__account
        .chat__space__side__account__user
          %span
            = current_user.name
        .chat__space__side__account--action
          = link_to '/new' do
            %i.fa.fa-pencil-square-o.fa-lg
          = link_to '/edit' do
            %i.fa.fa-cog.fa-lg
      .chat__space__side__group
        .chat__space__side__group__name
          = group.name
        .chat__space__side__group__message
          = group.messages.last.try(:text)
          - if group.messages.last.try(:text).blank?
            まだメッセージがありません

